.registerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75vh;
  margin: 5% 20%;
  border-radius: 20px;
  border: 0.1px solid rgb(214, 214, 214);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #ffff;
  color: rgb(0, 0, 0);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.registerForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.registerForm h3 {
  display: block;
  text-align: center;
  margin-bottom: 2vw;
}

.registerForm img {
  max-width: 80px;
  height: auto;
  width: 100%;
  margin-bottom: 1vw;
}

.registerForm input {
  display: block;
  text-align: center;
  max-width: 15vw;
  width: 100%;
  height: 5vh;
  margin: 2vh 0vh;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  outline: none;
}

.registerForm input:focus {
  border: 1px solid rgb(196, 196, 196);
}

.registerForm h5 {
  display: block;
  text-align: center;
  margin: 8% 0;
  max-width: 15vw;
  width: 100%;
  /* margin-top: 1vw; */
  font-weight: 200;
}

.registerForm button {
  text-align: center;
  display: block;
  border-radius: 30px;
  max-width: 15vw;
  width: 100%;
  height: 4vh;
  margin: 2vh 0vh;
  background-color: #86a8e7;
  /* box-shadow: 3vh, -1vw black; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: bold;
  color: white;
}

.registerForm button:hover {
  cursor: pointer;
  background-color: #d16ba5;
}

.registerImg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  color: antiquewhite;
  background: linear-gradient(
    to bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-radius: 0px 20px 20px 0px;
}

.registerImg h3 {
  text-align: center;
  /* width: 90%; */
  margin: 10%;
}

.registerImg img {
  max-width: 250px;
  height: auto;
  width: 100%;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .registerContainer {
    height: 75vh;
    margin: 5% 20%;
    background: linear-gradient(
      to bottom,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
  }
  .registerForm {
    width: 80%;
    border-radius: 20px;
    background: white;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .registerForm h3 {
    display: block;
    text-align: center;
    margin-bottom: 2vw;
    font-size: 2vh;
  }

  .registerForm img {
    max-width: 50px;
    height: auto;
    width: 100%;
    margin-bottom: 1vw;
    margin-top: 3vw;
  }

  .registerForm input {
    display: block;
    text-align: center;
    max-width: 250px;
    width: 100%;
    height: 4vh;
    margin: 0% 10% 10% 10%;
    font-size: 1.8vh;
  }
  .registerForm h5 {
    display: block;
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: 0% 10% 8% 10%;
  }

  .registerForm button {
    display: block;
    max-width: 250px;
    width: 100%;
    height: 4vh;
    margin: 0% 10% 10% 10%;
    font-size: 1.8vh;
  }

  .registerImg {
    display: none;
  }
}
