@use '../vars';
.container-people {
  background-color: vars.$cuack-background;
  width: 90%;
  padding: 15px 30px 0px 30px;
  margin: 1.5vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: row;
  align-items: flex-start;
}
