.home-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

.section2 {
  padding: 0% 2%;
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.1px solid rgb(214, 214, 214);
  border-right: 0.1px solid rgb(214, 214, 214);
  overflow: hidden;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2% 0;
  }
  i {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}

.container-nav {
  h5 {
    font-weight: normal;
  }
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  h4 {
    margin-top: 2.5vh;
    padding: 0 15px;
  }
  h5 {
    padding: 0 15px;
    font-weight: normal;
  }
}

.portada {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  #bannerImg {
    width: 100%;
    height: 200px;
  }

  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100%;

    #avatarImg {
      background-color: #ffffff;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      border: 5px solid white;
      justify-content: center;
    }
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  button {
    margin-top: 1vh;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    border: 0.1px solid rgb(214, 214, 214);
    padding: 5px 15px;
    cursor: pointer;
    &:hover {
      background-color: #e4e4e4;
    }
  }
}
.follows {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  span {
    padding-right: 8px;
    font-weight: bold;
    font-size: 14px;
  }
  h5 {
    margin-right: 25px;
    padding: 0;
  }
}
