.tendencias {
  //   margin-top: 7vh;
  background-color: rgb(247, 249, 249);
  width: 100%;
  height: 45vh;
  //   border-radius: 20px 0px 0px 20px;
  overflow-y: scroll;
  text-align: center;
  border-radius: 12px;
  padding: 10px 5px;

  h3 {
    text-align: left;
    margin-bottom: 3vh;
  }

  .sugerenciasContainer {
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .sugerenciasContainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 230px;
    overflow: hidden;
  }
  .imgSugerencias img {
    min-width: 45px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .nicknameandfullname {
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
    h3 {
      white-space: nowrap;
      font-size: 14px;
      white-space: nowrap;
      margin: 0;
    }
  }
  // .followSugerencias {
  //   cursor: pointer;
  //   color: white;
  //   font-size: 12px;
  //   font-family: Tahoma, Geneva, Verdana, sans-serif;
  //   background-color: #d16ba5;
  //   border-radius: 20px;
  //   border: none;
  //   min-width: 25%;
  //   width: 25%;
  //   height: 3vh;
  //   &:hover {
  //     background-color: #bc6096;
  //     transition: 0.2s;
  //   }
  // }
  // .seguido {
  //   cursor: pointer;
  //   color: white;
  //   font-size: 12px;
  //   font-family: Tahoma, Geneva, Verdana, sans-serif;
  //   background-color: #908a8d;
  //   border-radius: 20px;
  //   border: none;
  //   min-width: 25%;
  //   width: 25%;
  //   height: 3vh;
  // }
  // .ver-mas {
  //   border: none;
  //   cursor: pointer;
  //   font-size: 16px;
  //   background: none;
  //   &:hover {
  //     font-weight: bold;
  //     transition: 0.3s;
  //   }
  // }
}
