.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2vh 1px; */
  width: 250px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.section1 img {
  display: block;
  /* align-self: flex-start; */
  max-width: 30px;
  height: auto;
  width: 100%;
}
.section1 button {
  text-align: center;
  display: block;
  border-radius: 30px;
  max-width: 11vw;
  width: 100%;
  height: 5vh;
  margin: 0 20%;
  background-color: #d16ba5;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  border: none;
  font-weight: bold;
  color: white;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navList a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.navList i {
  /* align-self: flex-start; */
  /* height: 40px;
  width: 40px; */
  margin-right: 20px;
}

.navList li {
  list-style: none;
}

.container-icon-name-nick {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.container-name-nick {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
}

.section2 {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 15px 12px; */
  border-left: 0.1px solid rgb(214, 214, 214);
  border-right: 0.1px solid rgb(214, 214, 214);
}

.section3 {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 15px 5px; */
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
}

.datosUsuario {
  margin-top: 7vh;
  background-color: #d9d9d9;
  width: 100%;
  height: 30vh;
  border-radius: 20px;
}

.tendencias {
  margin-top: 7vh;
  background-color: #d9d9d9;
  width: 100%;
  height: 45vh;
  border-radius: 20px;
}
