.home-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

/* .home-container header {
  flex-grow: 1;
  align-items: flex-end;
} */
/*
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
}

.homeNavlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homeNavlist span {
  margin: 0 8%;
}

.logoHome {
  padding: 2% 0;
}

.logoHome img {
  display: block;
  max-width: 100%;
  min-width: 32px;
  width: 45px;
  height: 45px;
  margin: 5% 0 0 0;
}

.homeNavlistButton {
  margin: 12px 0 12px 0;
  text-align: center;
  width: 100%;
}
.homeNavlistButton button {
  display: block;
  border-radius: 30px;
  max-width: 200px;
  width: 100%;
  height: 45px;
  background-color: #d16ba5;

  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.homeNavlistButton button:hover {
  background-color: #86a8e7;
  transition: 0.5s;
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.navList a {
  padding: 2% 0;
  color: rgb(15, 20, 25);
  text-decoration: none;
  cursor: pointer;
  font-weight: 450;
}

.navListDiv:hover {
  background: #d9d9d9;
  border-radius: 20px;
}

.navListDiv {
  width: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 4%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.navList li {
  list-style: none;
  margin: 0 5% 10% 15%;
} */

.section2 {
  padding: 0% 2%;
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.1px solid rgb(214, 214, 214);
  border-right: 0.1px solid rgb(214, 214, 214);
  overflow: hidden;
}
.section2-nav h1 {
  width: 100%;
  font-size: 20px;
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
.cuackContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section3 {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  overflow: hidden;
}

.datosUsuario {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vh 0;
  background-color: rgb(247, 249, 249);
  width: 100%;
  height: 30vh;
  min-height: 270px;
  border-radius: 20px;
  overflow: auto;
}

.datosUsuario h1 {
  font-size: 22px;
  font-weight: bold;
  border-top: 1px solid rgba(193, 193, 193, 0.73);
}

.datosUsuario h2 {
  font-size: 18px;
}

.datosUsuario h3 {
  font-size: 16px;
}

.imgSug img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

.followContainer {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10%;
}
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10%;
}

/* .tendencias {
  margin-top: 7vh;
  background-color: rgb(247, 249, 249);
  width: 100%;
  height: 45vh;
  border-radius: 20px 0px 0px 20px;
  overflow-y: scroll;
  text-align: center;
}

.sugerenciasContainer {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sugerenciasContainer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 230px;
  overflow: hidden;
}

.imgSugerencias img {
  min-width: 45px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.nicknameandfullname {
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}
.nicknameandfullname h3 {
  white-space: nowrap;
  font-size: 14px;
}
.nicknameandfullname h3 {
  white-space: nowrap;
}
.followSugerencias {
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d16ba5;
  border-radius: 20px;
  border: none;
  min-width: 25%;
  width: 25%;
  height: 3vh;
}

.followSugerencias:hover {
  background-color: #bc6096;
  transition: 0.2s;
}

.seguido {
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #908a8d;
  border-radius: 20px;
  border: none;
  min-width: 25%;
  width: 25%;
  height: 3vh;
}

.ver-mas {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
}

.ver-mas:hover {
  font-weight: bold;
  transition: 0.3s;
} */

::-webkit-scrollbar {
  display: none;
}
