// Global
$font-family: Tahoma, Geneva, Verdana, sans-serif;
$title-font-size: 30px;
$cuacks-font-size: 20px;
$font-size: 16px;
$nickname-font-size: 14px;

// Light
$primary-color: #d16ba5;
$secondary-color: #86a8e7;
$primary-font-color: black;
$secondary-font-color: #595959;
$background-color: #eeee;
$section3-background-color: #d9d9d9;

// Dark
$dark-primary-color: #86a8e7;
$dark-secondary-color: #d16ba5;
$dark-primary-font-color: #eeee;
$secondary-font-color: #c8c8c8;
$dark-background-color: #2f2e41;
$dark-cuack-background: #4c4a5f;
