// needed
* {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}
// Archivo de importaciones
// UI settings

// Components
@import './components/cuack.scss';
@import './components/searchBar.scss';
@import './components/login.scss';
@import './components/createAccount.scss';

// Screens
@import './components/cuackear.scss'; // Screens
