// needed
* {
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: rgb(15, 20, 25);
}
// Archivo de importaciones
// UI settings

// Components
@import './components/cuack.scss';
@import './components/searchBar.scss';
@import './components/autocomplete.scss';
@import './components/login.scss';
@import './components/createAccount.scss';
@import './components/logOut.scss';
@import './components/profile.scss';
@import './components/search.scss';
@import './components/followButton.scss';
@import './components/person.scss';
@import './components/userCard.scss';
// Screens
@import './components/cuackear.scss';
@import './components/sidebar.scss';
@import './components/trends.scss';
@import './components/people.scss';
